<h2>Registro</h2>
<form id="resetForm" action="/password-reset" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <button type="submit" id="resetBtn">Recuperar</button>
</form>
<div>
    <button><a href="https://proyectofinalbackend-2024.up.railway.app/products/">Inicio</a></button>
</div>
<script type="module" src="/js/resetPassword.js"></script>
